body {
  font-family:'Open Sans', sans-serif;
}

.user-input-section {
  display:inline-block;
  height: 50%;
  width:83%;
  text-align: center;
  background-color: #E5F3F2;
  margin: 18px auto;
}

body h1 {
  color:#00A79D;
  font-family:'Roboto Slab', serif;
  margin: 15px auto;
}

.title-user-input{
  box-sizing: border-box;
  display: block;
  margin: auto;
  padding: 5px 0 0 5px;
  text-align: left;
  width: 88%;
}

.body-user-input{
  width: 88%;
  box-sizing: border-box;
  display: block;
  margin: 15px auto;
  padding: 5px 0 40px 5px;
  text-align: left;
}

span{
  color:#6D6E71;
}

.save-btn{
  display: block;
  width: 88%;
  background-color: #00A79D;
  border: none;
  /*button: active;*/
  color: #FFFFFF;
  margin: 15px auto;
  outline: none;
  padding: 9px;
}

.save-btn:hover {
  background-color: #045E55;
}
