
/******************
    GENERAL
******************/

*:focus{
  outline: none;
}

body {
  font-family:'Open Sans', sans-serif;
}

/******************
    LOGO
******************/

body h1 {
  color:#00A79D;
  font-family:700 35px 'Roboto Slab', serif;
  margin: 15px auto;
}

/******************
    INPUT SECTION
******************/

.user-input-section {
  display:inline-block;
  width:100%;
  text-align: center;
  background-color: #E5F3F2;
}

body h1 {
  color:#00A79D;
  font-family:'Roboto Slab', serif;
  margin: 15px auto;
}

.input{
  display: block;
  max-width: 800px;
  width: 88%;
  box-sizing: border-box;
  border: 2px #D1D3D4 solid;
  margin: 17px auto;
  padding: 5px 0 4px 5px;
  text-align: left;
}

.body-user-input{
  padding: 5px 0 40px 5px;
}

span {
  color:#6D6E71;
}

.save-btn{
  display: block;
  max-width: 800px;
  width: 88%;
  background-color: #00A79D;
  border: none;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  margin: 15px auto;
  outline: none;
  padding: 9px;
}

.save-btn:hover {
  background-color: #045E55;
}

/******************
    IDEA SECTION
******************/

.idea * {
  margin: 0 0 15px 0;
}

.idea {
  position: relative;
  border-bottom: 2px #d1d3d4 solid;
  margin: 18px auto;
  max-width: 800px;
  width: 83%;

}

.title {
  border: none;
  color: #6d6e71;
  font-size: 25px;
}

.body{
  display: block;
  height: 55px;
  width: 100%;
  border: none;
  color: #939598;
  resize: none;
}

.quality {
  position: relative;
  padding-left: 7px;
  bottom: 6px;
  color: #6d6e71;
}

/******buttons******/

.up-vote-btn,
.down-vote-btn,
.delete-btn {
  height: 30px;
  width: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}

.rating {
  display: inline-block;
  align-self: center;
}

.delete-btn {
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(../icons/delete.svg);
}

.delete-btn:hover {
  background-image: url(../icons/delete-hover.svg);
}

.up-vote-btn {
  background-image: url(../icons/upvote.svg);
}
.up-vote-btn:hover {
  background-image: url(../icons/upvote-hover.svg);
}

.down-vote-btn {
  background-image: url(../icons/downvote.svg);
}
.down-vote-btn:hover {
  background-image: url(../icons/downvote-hover.svg);
}

/******************
    MEDIA QUERIES
******************/

@media (min-width: 750px) {
  .body-user-input{
    padding: 5px 0 4px 5px;
  }
}
